doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    title I like pug!
    link(rel="stylesheet" href="src/style.css")
    link(rel="stylesheet" href="src/bootstrap.css")
    link(rel="stylesheet" href="src/bootstrap.min.css")
    link(rel="stylesheet" href="../lib/font-awesome/css/font-awesome.css")
    link(rel="stylesheet" href="../lib/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet" href="../lib/fancybox/fancybox.css")
    link(rel="stylesheet" href="../lib/easing/helpers/jquery.fancybox-buttons.css")
    link(rel="stylesheet" href="../lib/easing/helpers/jquery.fancybox-thumbs.css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.4.1.slim.js")
    script(src="https://code.jquery.com/jquery-3.4.1.js")
    script(type="text/javascript" src="http://localhost:3000//js/main.js")
    script(type='text/javascript' src='http://localhost:3000//lib/bootstrap/js/bootstrap.js')
    script(type='text/javascript' src='http://localhost:3000//lib/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript' src='http://localhost:3000//lib/easing/easing.js')
    script(type='text/javascript' src='http://localhost:3000//lib/easing/easing.min.js')
    script(type='text/javascript' src='http://localhost:3000//lib/fancybox/fancybox.js')
    script(type='text/javascript' src='http://localhost:3000//lib/easing/helpers/jquery.fancybox-buttons.js')
    script(type='text/javascript' src='http://localhost:3000//lib/easing/helpers/jquery.fancybox-media.js')
    script(type='text/javascript' src='http://localhost:3000//lib/easing/helpers/jquery.fancybox-thumbs.js')
    script(type='text/javascript' src='http://localhost:3000//lib/stellar/stellar.min.js')
  body
    nav#theMenu.menu
      .menu-wrap
        h1.logo
          a.smoothscroll(href="#home") Studio
        i.fa.fa-times.menu-close
        a.smoothscroll(href="#home") Home
        a.smoothscroll(href="#about") Profile
        a.smoothscroll(href="#services") Lunguage
        a.smoothscroll(href="#portfolio") Portfolio
        a.smoothscroll(href="#contact") Contact
      #menuToggle
        i.fa.fa-bars
    section#home(name="home")
    #headerwrap
      .container
        .row
          .col-md-6.col-md-offset-3
            h1 UraYuma's portfolio
    section#about(name="about")
    #aboutwrap
      .container
        .row
          .col-lg-4.name
            img.img-responsive(src="../img/human.jpg")
            p 浦 悠眞
            .name-label
          .col-lg-8.name-desc
            h2 profile
              //- br
              //- | javaScript&
              //- br
              //- | javaScript
            .name-zig
            .col-md-6
              p はじめまして。平成9年生まれの22歳エンジニア
                br
                |未経験の浦悠眞と申します。
                br
                |前職では、2年半工場で働いていました。
                br
                |Webサイトやアプリケーション作成で様々な業界に
                br
                |携われる事に魅力を感じ、プログラミング学習を
                br
                |始めました。
              p テックエキスパートではHTML、CSS、jQuery、
                br
                |ruby、Ruby on Rails、github、awsを学びました。
                br
                |私を特に成長させたのはチーム開発です。
                br
                |エンジニアはコードを書くだけでなくアイディア
                br
                |を共有するためにコミュニケーションが必要な事
                br
                |を知りました。
            .col-md-6
              p 現在は主にjavascriptについて学習しています。
                br
                |元々私はゲームをしたり、Webサービスを利用
                br
                |する時に使いやすさを意識していました。
                br
                |それがUIと言われているものと知り、Reactを
                br
                |学びました。
                br
                |また、javascriptでバックエンドを扱える事に
                br
                |魅力を感じ、Node.js(express)も学習しています。
              //- p Richard McClintock, a Latin professor at
              //-   br
              //-   |Hampden-Sydney College in Virginia, looked up
              //-   br
              //-   |one of the more obscure Latin words,
              //-   br
              //-   |consectetur, from a Lorem Ipsum passage, and
              //-   br
              //-   |going through the cites of the word in classical
              //-   br
              //-   |literature, discovered the undoubtable source.
    .sep.about(data-stellar-backgroud-ratio="0.5")(style="background-position: 50%;")
    section#services(name="services")
    #servicewrap
      .container
        .row
          .col-lg-8-offset-2.centered
            h1 Language
            //- h3 I'll do all the work for you
            //- p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        .row.mt
          .col-lg-3.service
            i.fab.fa-html5
            p HTML
              br
              small|language
          .col-lg-3.service
            i.fab.fa-css3-alt
            p CSS
              br
              small|language
          .col-lg-3.service
            i.far.fa-gem
            p ruby
              br
              small|language
          .col-lg-3.service
            i.fab.fa-js
            p javascript
              br
              small|language
        .row.mt
          .col-lg-8-offset-2.centered
            h1 Frame work
          .row.mt
          .col-lg-3.service
            i.fas.fa-gem
            p Ruby on Rails
              br
              small|frame work
          .col-lg-3.service
            i.fab.fa-node-js
            p express
              br
              small|frame work
        .row.mt
          .col-lg-8-offset-2.centered
            h1 Library & Tools
          .row.mt
          .col-lg-3.service
            i.fab.fa-react
            p React
              br
              small|library
          .col-lg-3.service
            i.fab.fa-aws
            p aws
              br
              small|tool
          .col-lg-3.service
            i.fas.fa-folder-open
            p firebase
              br
              small|tool
          .col-lg-3.service
            i.fab.fa-github
            p github
              br
              small|tool
    .sep.portfolio(data-stellar-background-ratio="0.5" style="background-position: 50%")
    section#portfolio(name="portfolio")
    #portfoliowrap
      .container
        .row
          h1 Portfolio
          //- 写真の雛形
        //-   .col-lg-4.col-md-4.col-sm-4.col-xs-12.desc
        //-     .project-wrapper
        //-       .project
        //-         .photo-wrapper
        //-           .photo
        //-             a.fancybox(href="../img/portfolio/port01.jpg")
        //-               img.img-responsive(src="../img/portfolio/port01.jpg" alt)
        //-           .overlay
        //-   .col-lg-4.col-md-4.col-sm-4.col-xs-12.desc
        //-     .project-wrapper
        //-       .project
        //-         .photo-wrapper
        //-           .photo
        //-             a.fancybox(href="../img/portfolio/port02.jpg")
        //-               img.img-responsive(src="../img/portfolio/port02.jpg" alt)
        //-           .overlay
        //-   .col-lg-4.col-md-4.col-sm-4.col-xs-12.desc
        //-     .project-wrapper
        //-       .project
        //-         .photo-wrapper
        //-           .photo
        //-             a.fancybox(href="../img/portfolio/port03.jpg")
        //-               img.img-responsive(src="../img/portfolio/port03.jpg" alt)
        //-           .overlay
        //- .row.mt
        //-   .col-lg-4.col-md-4.col-sm-4.col-xs-12.desc
        //-     .project-wrapper
        //-       .project
        //-         .photo-wrapper
        //-           .photo
        //-             a.fancybox(href="../img/portfolio/port01.jpg")
        //-               img.img-responsive(src="../img/portfolio/port01.jpg" alt)
        //-           .overlay
        //-   .col-lg-4.col-md-4.col-sm-4.col-xs-12.desc
        //-     .project-wrapper
        //-       .project
        //-         .photo-wrapper
        //-           .photo
        //-             a.fancybox(href="../img/portfolio/port02.jpg")
        //-               img.img-responsive(src="../img/portfolio/port02.jpg" alt)
        //-           .overlay
        //-   .col-lg-4.col-md-4.col-sm-4.col-xs-12.desc
        //-     .project-wrapper
        //-       .project
        //-         .photo-wrapper
        //-           .photo
        //-             a.fancybox(href="../img/portfolio/port03.jpg")
        //-               img.img-responsive(src="../img/portfolio/port03.jpg" alt)
        //-           .overlay
      .container
        .row.mt.centered
          //- h1 MY DESIGB PROCESS
          .col-lg-6.proc
            i.fas.fa-comments
            h3 Chat application
            a(href="react-portfolio-20200111.firebaseapp.com" target="_brank") react-portfolio-20200111.firebaseapp.com
            p React + firebaseで作成したチャットアプリです。
              br
              | Reactの教本で学習した後にfirebaseを学びながら作りました。
              br
              | 現在はReduxを取り入れて改善を行なっています。
          .col-lg-6.proc
            i.fas.fa-shopping-cart
            h3 mercari copy
            a(href="http://18.177.15.224" target="_brank") http://18.177.15.224
            p テックエキスパートのチーム開発で作成したメルカリの
              br
              | コピーアプリです。
    #contact(name="contact")
    .sep.contact(data-stellar-backgroud-ratio="0.5" style="backgrond-position: 50%")
    #contactwrap
      .container
        .row
          .col-lg-6
            p CONTACT ME RIGHT NOW!
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              br
              |Lorem Ipsum has been the industry's standard dummy text ever since the
              br
              |1500s.
              p
                small 5th Avenue, 987
                        br
                        |38399, New York,
                        br
                        |USA.
            p
              small Tel. 9888-4394
                    br
                    |Mail. hello@example.com
                    br
                    |Skype. ExampleSkype
          small
            .col-lg-6
              .contact-form.php-mail-form(role="form" action="contactform/contactform.php" method="POST")
                .form-group
                  input.form-control#contact-name(type="name" name="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chats")
                  .validate
                .form-group
                  input.form-control#contact-email(type="email" name="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email")
                  .validate
                .form-group
                  input.form-control#contact-subject(type="text" name="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chats of subject")
                  .validate
                .form-group
                  textarea.form-control#contact-message(type="name" name="name" placeholder="Your Message" data-rule="requred" data-msg="Please write something for us" rows="5")
                  .validate
                .loading
                .error-message
                .sent-message Your message has been sent. Thank you!
                .form-send
                  button.btn.btn-large(type="submit") Send Message
          small
        small